<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="shortcut icon" href="/static/Images/dulogo.png" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        test = {{ test|tojson }}
        prof = {{ prof|tojson }}
        isMyProf = {{ isMyProf|tojson }}
        window.onload = function(){
            if(isMyProf!="True"){
                document.getElementById("uploadButton").style.visibility="hidden";
                document.getElementById("statusButton").style.left="3%";
            }
            loadProfile();
            loadWorks();
        }

        function loadProfile()
        {
            var name = prof.Name;
            var session = prof.Session;
            var mail = prof.Mail;
            var contact = prof.Contact;
            var temp = "Research Areas: ";
            var research = temp.bold()+prof.Research;
            document.getElementById("name").innerHTML=name;
            document.getElementById("session").innerHTML=session;
            document.getElementById("mail").innerHTML=mail;
            document.getElementById("contactnumber").innerHTML=contact;
            document.getElementById("research").innerHTML=research;
            if(prof.Picture!="none"){
                document.getElementById("profilepicture").src=prof.Picture;
            }
        }

        function loadWorks()
        {
            for(var i=0;i<test.length;i++)
            {
                var title = test[i].projectName;
                var authors = test[i].author;
                var year = test[i].year;
                var abstract = test[i].projectDescroption;
                var output = (i+1)+". "+title+"\n"+authors+"\n"+year+"\n"+abstract+"\n";
                var a1 = document.createElement('div');
                a1.appendChild(document.createTextNode(output));
                if(test[i].paperLink!='none')
                {
                    var link = document.createElement('a');
                    link.title="Paper Link\n";
                    var linkText = document.createTextNode("Paper Link\n");
                    link.appendChild(linkText);
                    link.href = test[i].paperlink;
                    a1.appendChild(link);
                }
                if(test[i].githubLink!='none')
                {
                    var link = document.createElement('a');
                    link.title="Github Link\n";
                    var linkText = document.createTextNode("Github Link\n");
                    link.appendChild(linkText);
                    link.href = test[i].githublink;
                    a1.appendChild(link);
                }
                a1.appendChild(document.createTextNode("\n"));
                document.getElementById("works").appendChild(a1);
            }
        }

        function search()
        {
            var query="";
            if(document.getElementById("searchbar").value=="")alert("Please enter text before searching.");
            else
            {
                query = document.getElementById("searchbar").value;
                searchQuery = {"search": query};
                var temp = JSON.stringify(searchQuery);
                $.post("/searchHandler", temp, function(){});
                window.location="/search";
            }
        }
    </script>
</head>
<body>
    <div style="background: lightgrey; position: fixed; top: 18%; left: 3%; width: 94%; height: 77%; overflow: auto; box-shadow: 0 0 5px 2px #161651">
        <div>
            <p style="font-family: sans-serif; font-size: 200%; text-align: center; top: 0.5%">Profile</p>
            <p style="position: absolute; left: 10%; top: -8%; font-size: 400%; white-space: pre-wrap; color: #EBBF00">______________________________________</p>
            <img src={{ prof['Picture'] }} id="profilepicture" height="200" width="210" style="position: absolute; top: 20%; left: 2%; border: 2px solid black">
            <div style="position: absolute; left: 20%; top: 15.8%; font-family: sans-serif; font-size: 130%;">
                <p id="name"></p>
                <p id="session"></p>
                <p id="mail" style="color: blue;"><u></u></p>
                <p id="contactnumber"></p>
                <p id="research"></p>
            </div>
        </div>

        <button style="position: absolute; top: 67.5%; left: 3%; font-family: sans-serif; font-size: 130%" onclick="window.location='/uploadfile'" id="uploadButton">Upload Paper</button>
        <button style="position: absolute; top: 67.5%; left: 15%; font-family: sans-serif; font-size: 130%" onclick="window.location='/projectstatus'" id="statusButton">Project Status</button>
        <div id="works" style="white-space: pre-line; position: absolute; top: 71%; left: 3%; font-family: sans-serif; font-size: 130%;">
            <b>Works:-</b>

        </div>

    </div>

    <div style="position: fixed; top: 0%; left: 0%; width: 100%; height: 12%; background: #161651;">
        <a href="http://www.cse.du.ac.bd/"><img alt="Department of Computer Science and Engineering, University of Dhaka" src="/static/Images/dulogo.png" height="90" width="80" style="position:fixed; top: 0.5%; left: 0.5%"></a>
        <a href="/" style="position: fixed; font-family: sans-serif; font-size: 160%; color: white; text-decoration: none; left: 6.5%; top: 1.5%">CSEDU Project Hub</a>
        <a href="/" style="position: fixed; font-family: sans-serif; font-size: 160%; color: white; text-decoration: none; left: 6.5%; top: 6%">Department of Computer Science & Engineering, University of Dhaka</a>
        <a style="position:fixed;height:70px;width:120px;left: 92%; top: 1.5%;" name="logout"   href="/logout"><img src="/static/Images/logout.png" width="65" height="65"></a>
        <a href=""><img src={{ pic }} style="position: fixed; top: 1.75%; right: 10%;" width="75" height="75"></a>
    </div>

</body>
</html>