<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        searchTerm = {{ searchTerm|tojson }}
        searchResults = {{ searchResults|tojson }}

         window.onload = function() {
             document.getElementById("searchedby").innerHTML = "Search results for '"+searchTerm+"'";
             load();
         };

        function load()
        {
            var i=0;
            if(searchResults.length>=0)
            {
                for(i=0;i<searchResults.length;i++)
                {   
                    var work = searchResults[i];
                    var title = work.projectName;
                    var authors = work.authors;
                    var year = work.year;
                    var abstract = work.projectDescroption;
                    var output = (i+1)+". "+title+"\n"+authors+"\n"+year+"\n"+abstract+"\n";
                    var a1 = document.createElement('div');
                    a1.appendChild(document.createTextNode(output));
                    if(work.paperLink!='none')
                    {
                        var link = document.createElement('a');
                        link.title="Paper Link\n";
                        var linkText = document.createTextNode("Paper Link\n");
                        link.appendChild(linkText);
                        link.href = work.paperLink;
                        a1.appendChild(link);
                    }
                    if(work.githubLink!='none')
                    {
                        var link = document.createElement('a');
                        link.title="Github Link\n";
                        var linkText = document.createTextNode("Github Link\n");
                        link.appendChild(linkText);
                        link.href = work.githubLink;
                        a1.appendChild(link);
                    }
                    a1.appendChild(document.createTextNode("\n"));
                    document.getElementById("results").appendChild(a1);
                }
                return;
            }
            else
            {
                document.getElementById("results").appendChild(document.createTextNode("No Matching Results"));
                return;
            }
        }

        function search()
        {
            var query="";
            if(document.getElementById("searchbar").value=="")alert("Please enter text before searching.");
            else
            {
                query = document.getElementById("searchbar").value;
                searchQuery = {"search": query};
                var temp = JSON.stringify(searchQuery);
                $.post("/searchHandler", temp, function(){});
                window.location="/search";
            }
        }

    </script>
</head>
<body>
    <div style="background: lightgrey; position: fixed; top: 18%; left: 3%; width: 94%; height: 77%; overflow: auto; box-shadow: 0 0 5px 2px #161651">
        <p id="searchedby" style="font-family: sans-serif; font-size: 200%; text-align: center; top: 0.5%"></p>
        <div id="results" style="white-space: pre-line; position: absolute; top: 20%; left: 3%; font-family: sans-serif; font-size: 100%;"></div>
    </div>

    <div style="position: fixed; top: 0%; left: 0%; width: 100%; height: 12%; background: #161651;">
        <a href="http://www.cse.du.ac.bd/"><img alt="Department of Computer Science and Engineering, University of Dhaka" src="/static/Images/dulogo.png" height="90" width="80" style="position:fixed; top: 0.5%; left: 0.5%"></a>
        <a href="/" style="position: fixed; font-family: sans-serif; font-size: 160%; color: white; text-decoration: none; left: 6.5%; top: 1.5%">CSEDU Project Hub</a>
        <a href="/" style="position: fixed; font-family: sans-serif; font-size: 160%; color: white; text-decoration: none; left: 6.5%; top: 6%">Department of Computer Science & Engineering, University of Dhaka</a>
        <a style="position:fixed;height:70px;width:120px;left: 92%; top: 1.5%;" name="logout"   href="/logout"><img src="/static/Images/logout.png" width="65" height="65"></a>
        <a href=""><img src={{ pic }} style="position: fixed; top: 1.75%; right: 10%;" width="75" height="75"></a>
    </div>

</body>
</html>
