<div class="card">

    <div class="card-header" >
        <div>
                <img align="left" class="rounded-circle" alt="100x100" src={{ status.pic }}
                data-holder-rendered="true" height="60px">

                <a href="#"><h5 style="padding-top: 20px ;" ><b>&ensp; {{ status.name }}</b></h5><a>

        </div>
    </div>

  <div class="card-body">

      <p class="card-text">

      <b><h5>{{ status.text }}<h5><b>

      </p>
      <h5 align="right">Date : {{ status.date }} </h5>

  </div>
</div>