<div class="card">

    <div class="card-header" >
        <div>
                <img align="left" class="rounded-circle" alt="100x100" src="/static/Images/profile1.jpg"
                data-holder-rendered="true" height="60px">

                <h5 style="padding-top: 20px ;" ><b>&ensp; Natasha Chakraborty</b></h5>

        </div>
    </div>

  <div class="card-body">

      <p class="card-text">

      {{ status.text }}

      </p>
      <h5 align="right">Date : {{ status.date }} </h5>

  </div>
</div>