<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Paper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function upload()
        {
            var title = document.getElementById("title").value;
            var authors = document.getElementById("authors").value;
            var years = document.getElementById("year").value;
            var abstract = document.getElementById("abstract").value;
            var paperlink = document.getElementById("paperlink").value;
            var githublink =  document.getElementById("githublink").value;
            if(title==""){
                alert("Title field must not be empty");
                return;
            }
            if(authors==""){
                alert("Authors field must not be empty");
                return;
            }
            if(years==""){
                alert("Years field must not be empty");
                return;
            }
            if(abstract==""){
                alert("Abstract field must not be empty");
                return;
            }
            if(paperlink=="")paperlink="none";
            if(githublink=="")githublink="none";
            uploadInfo = {"title": title, "authors": authors, "years": years, "abstract": abstract, "paperlink": paperlink, "githublink": githublink};
            var temp = JSON.stringify(uploadInfo);
            $.post("/upload", temp, function(){});
            window.location="/profile";
        }
        function search()
        {
            var query="";
            if(document.getElementById("searchbar").value=="")alert("Please enter text before searching.");
            else
            {
                query = document.getElementById("searchbar").value;
                searchQuery = {"search": query};
                var temp = JSON.stringify(searchQuery);
                $.post("/searchHandler", temp, function(){});
                window.location="/search";
            }
        }
    </script>
</head>
<body>
    <div style="background: lightgrey; position: fixed; top: 18%; left: 3%; width: 94%; height: 77%; overflow: auto; box-shadow: 0 0 5px 2px #161651; font-family: sans-serif;">
        <p style="font-family: sans-serif; font-size: 200%; text-align: center; top: 0.5%">Upload File</p>
        <p style="position: absolute; left: 2%; top: -14%; font-size: 400%; white-space: pre-wrap; color: #EBBF00">__________________________________</p>
        <div style="position: absolute; left: 2.05%; font-family: sans-serif; font-size: 130%; text-align: center">
            <input type="text" placeholder="Title" id="title" style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%" required="required"><br><br>
            <input type="text" placeholder="Authors" id="authors" style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%" required="required"><br><br>
            <input type="number" placeholder="Year" id="year" style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%; width: 98%" min="2010" max="2020" required="required"><br><br>
            <input type="text" placeholder="Abstract" id="abstract" style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%" required="required"><br><br>
            <input type="text" placeholder="Paper Link" id="paperlink" style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%" ><br><br>
            <input type="text" placeholder="Github Link" id="githublink" style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%" ><br><br>
            <input type="button" id="finalize"style="font-family: sans-serif; font-size: 110%; padding-bottom: 1%; position: absolute; left: 0%; top: 100%;" value="Upload" onclick="upload()">
        </div>
    </div>

    <div style="position: fixed; top: 0%; left: 0%; width: 100%; height: 12%; background: #161651;">
        <a href="http://www.cse.du.ac.bd/"><img alt="Department of Computer Science and Engineering, University of Dhaka" src="/static/Images/csedulogo.png" height="60" width="60" style="position:fixed; top: 0.5%; left: 0.5%"></a>
        <a href="/feed" style="position: fixed; font-family: sans-serif; font-size: 160%; color: white; text-decoration: none; left: 6.5%; top: 1.5%">CSEDU</a>
        <a href="/feed" style="position: fixed; font-family: sans-serif; font-size: 160%; color: white; text-decoration: none; left: 5%; top: 6%">Project Hub</a>
        <input id="searchbar" type="text" style="position: fixed; top: 3%; right: 5%; height: 5%; width: 25%; border-radius: 2px; border: 2px solid black; font-family: Ubuntu; font-size: 105%" placeholder=" Search...">
        <button style="background: transparent; border-color: transparent; position: absolute; top: 27%; right: 5%" onclick=search()><img src="/static/Images/srch.png" height="30" width="30"></button>
        <a href="/profile"><img src="/static/Images/profile.png" style="position: fixed; top: 1.75%; right: 0.75%;" width="50" height="50"></a>
    </div>

</body>
</html>
